@using Microsoft.AspNetCore.Identity
@using VietnamSnackis.Areas.Identity.Data

@inject SignInManager<VietnamSnackisUser> SignInManager
@inject UserManager<VietnamSnackisUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    var nickName = user?.Nickname ?? "Användare";
    var profilePicture = user?.ProfilePicture;

    <li class="nav-item">
        <div class="d-flex align-items-center">
                <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Du är inloggad som: <strong>@UserManager.GetUserName(User)</strong></a>
                @if(!string.IsNullOrEmpty(profilePicture))
                {
                    <img src="~/ProfilePictures/@user.ProfilePicture" alt="Profile Picture" class="nav-profile-picture" height="40px" />
                }
        </div>
    </li>

    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logga Ut</button> 
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Skapa Konto</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Logga In</a> 
    </li>
}
</ul>
