@page
@model VietnamSnackis.Pages.AdminPageModel
@{
}

<h3>Här kan du som administratör göra ändringar på hemsidan</h3>

@* <div>
    @if (Model.IsUser)
    {
        <p>Du har inte behörighet att se denna sida</p>
    }

    @(Model.IsAdmin)
    {
        <p>Du är behörig att se denna sida</p>
    }
</div> *@
