@page
@model PrivacyModel
@{
    ViewData["Title"] = "Info Om Landet";
}
<h1>@ViewData["Title"]</h1>

<h5 class="text-dark">Vietnam är ett land i sydöstra Asien som gränsar till Kina, Laos och Kambodja. Huvudstaden är Hanoi och landet är känt för sin rika historia, kultur och natursköna skönhet. Vietnam har en lång kustlinje längs med Sydkinesiska havet och är hem för olika etniska grupper och språk. Landet har en turbulent historia med kolonialism, krig och konflikter, inklusive det Vietnamkrig som avslutades 1975. Idag har Vietnam en växande ekonomi med en blandning av traditionell och modern livsstil. Turism är en betydande del av ekonomin och besökare lockas av landets vackra stränder, bergslandskap och historiska sevärdheter som Halongbukten och de gamla kejserliga städerna. Vietnam är också känt för sin goda mat, inklusive rätter som pho och vårrullar.</h5>

<img src="Images/HaLongBay.jpg" />
<img src="Images/SpringRolls.jpg" />
